.env
db_data/*
!db_data/.gitkeep
pgadmin/*
!pgadmin/.gitkeep
kibana/*
!kibana/.gitkeep
es-data/*
!es_data/.gitkeep
app/app/logs/app.log
app/__pycache__
node_modules/*
!node_modules/.gitkeep
grafana/grafana_data/*
app/app/__pycache__/*
app/app/logs/*
app/app/views/__pycache__/*
