Flask==2.2.3
prometheus_client==0.16.0
Werkzeug==2.2.3
Flask-SQLAlchemy==3.0.0
sqlalchemy==1.4.47
psycopg2-binary==2.9.6
python-dotenv==1.0.0
prometheus_flask_exporter
logstash_formatter==0.5.2
prometheus_client